[2013-11-29 16:57] zAlbee opened #1 "Not recognizing Office 2007+ files (docx, xslx,...)"
Hi, I found this project from your comment on the article http://www.rgagnon.com/javadetails/java-0487.html. I have used the UNIX "file" command with good accuracy, so seeing that the simplemagic library is based on the same logic appealed to me. Unfortunately this Java library doesn't have the same success rate. Particularly, it fails on most MS Office files from Office 2007+.

Here is what I get

[2014-01-14 18:24] nfx opened #2 "7zip has null mime-type"

[2014-01-14 20:08] #1 closed, assigned to j256

[2014-01-16 11:53] nfx opened #3 "Reading magic entries from system directory reads only the first file"
Reading entries from system directory reads only the first file and then stops. So it's a bit strange behavior...

[code]

[2014-01-16 15:30] #3 closed, assigned to nobody

[2014-01-16 15:42] zAlbee opened #4 "Excel and Powerpoint 97-2003 files return null mime type"
I searched my magic file and found a few suspect entries for Excel, but found nothing for Powerpoint. Then I grep'd the source code of file-5.16 and found this in readcdf.c:

[code]

Looks like in version 5.x of file, they use CDF to parse MS Office documents instead of magic numbers.

[2014-05-27 10:37] overlinden opened #5 "problems matching Windows executables"
Hi,

I am writing a file analyser in java and plan to use your simplemagic application to determine the file type of an input stream. To use your application as comfortable as possible I compiled it into a jar file including your magic.gz file.

Unfortunately the findMatch Method always returns null for all types on inputstreams. I tried windows executables, bitmaps, plain text, ...
Is there any e

[2015-06-14 03:42] swpalmer commented on #5
Note that the unit test for .exe files is broken.
ContentInfoUtilTest.java has:

					new FileType("/files/x.exe", ContentType.OTHER, "MythTV", null,
							"MythTV NuppelVideo v (640x480),progressive,aspect:1.00,fps:29.97"),

which is clearly a copy and paste error from a few lines above.

I noticed this after fixing another error that was causing the test to fail on "/files/x.gz".  After fixing

[2016-03-16 06:19] Tsorki opened #7 "SVG will be detected as XML"
The detection of SVG files is not correct. The utility identifies the type as XML, due to the XML header within SVG files. Possible solution is to check what comes after the xml header. There should be an "svg" tag.

[2016-03-21 17:32] j256 commented on #7
Thanks for this.  I'll look for other patterns around svg.  Do you have a sample file you can attach?

[2016-03-22 06:54] Tsorki commented on #7
Of course, there are also tons of SVG in the google image search.
Sorry for the ZIP, but GitHub doesn't allow to uploads SVG's directly:

[signature.zip](https://github.com/j256/simplemagic/files/183625/signature.zip)

[2016-07-18 23:50] robstryker opened #9 "Cannot build from command line using mvn clean verify due to bad javadoc"
Javadoc is pretty bad here.  Can't build from commandline.

[2016-08-13 13:15] se7en007 opened #12 "Info Needed: Why Partial Match and what it does?"
Hi Gray,
 First of all, thank you for providing this small and to the point library. Amazing.

I have been checking the code and it looks like the Mime Type that is returned could be only a partial match:- [MagicEntries.java:140](https://github.com/j256/simplemagic/blob/master/src/main/java/com/j256/simplemagic/entries/MagicEntries.java#L140).

**Problem**:- I am using your library to check mime t

[2016-08-13 20:34] se7en007 opened #13 "Support for empty files"
An empty file will return null as well as when the file mime type is not found on running ContentInfoUtil#findMatch.

Is it be possible to add support for differentiating between two cases?

[2016-08-13 20:50] se7en007 commented on #13
This is also in analogous to the behaviour of *nux OSes file utility.

touch emptyFile
file emptyFile
emptyFile: empty

[2016-09-16 17:58] florinpopescu commented on #7
Same here. 😃

[2016-09-16 21:32] j256 commented on #13
Good idea.  Added to trunk.

[2016-09-16 21:32] #13 closed

[2016-09-16 21:34] j256 commented on #12
Sorry for the delay on this @se7en007 .  The partial match is needed because in magic files, often there are multiple matches and later ones may be better.  For example, SVG images are XML matches but the SVG+XML match is better.

[2016-09-16 21:35] j256 commented on #12
I sold my 256.com domain a while back.  I should have migrated all of those links to 256stuff.com.   Which URL are you talking about that has out of date links?

[2016-09-16 21:36] j256 commented on #12
It should return good information.  Can you give me an example of where it doesn't?

[2016-09-16 21:37] j256 commented on #9
Sorry but I'm not going to fix this.  My javadocs aren't "bad" just that they don't succeed in that checker which IMO sucks.

[2016-09-16 21:37] #9 closed

[2016-09-16 22:00] j256 commented on #7
Ok.  Great example.  I was missing handling of <>= support.  Wow, what a miss.  This has been added to tests and fixed in trunk.

[2016-09-16 22:00] #7 closed

[2016-09-16 22:01] #2 closed

[2016-09-16 23:13] se7en007 commented on #13
Thank you.

[2016-09-16 23:38] se7en007 commented on #12
No worries for the delay.

The library gives partial match on webp files.

So, read from google docs that webp files are in RIFF container. If I run on webp files, it gives `There was a partial match, RIFF, type OTHER, msg 'RIFF (little-endian) data'`. This is also a feature request as enum com.j256.simplemagic.ContentType#WEBP is provided but it is not what get's returned but enum This is also a

[2016-09-16 23:44] se7en007 commented on #12
At **https://github.com/j256/simplemagic/wiki**, only 2 links : central maven repository and github works. Rest all down.

[2016-09-17 03:12] robstryker commented on #9
You could have just merged https://github.com/j256/simplemagic/pull/10/files   ;)

I admit my javadocs weren't much better, but at least they would have built =P

[2016-09-19 14:29] j256 commented on #12
Fixed thanks.

[2016-09-19 14:30] j256 commented on #12
Hey, can you turn the WEBP request into another issue so I can track it right?  Thanks.

[2016-09-19 17:00] se7en007 opened #14 "Webp are getting partial matched to Riff Images"
From google docs, webp files are stored in RIFF container. If I run simplemagic on webp files, it gives `There was a partial match, RIFF, type OTHER, msg 'RIFF (little-endian) data'`.

[1472812600656_679_92337e55-d140-4da1-8c79-94582c05ad61_540x360.webp.zip](https://github.com/j256/simplemagic/files/477845/1472812600656_679_92337e55-d140-4da1-8c79-94582c05ad61_540x360.webp.zip)

[2016-09-19 17:01] se7en007 commented on #12
Done and thank you. One question, will you release a new version of library, or just patched the current version to maven?

[2016-09-19 17:19] j256 commented on #12
I've got a bad bug that I'm looking at now and I hope to release a new version once that's done.

[2016-09-19 17:27] se7en007 commented on #12
No hurries. Thank you once again.

[2016-09-19 17:27] #12 closed

[2016-09-20 08:24] Tsorki commented on #7
Did you create a new release for that? We're using maven and need to have a release version for that.

[2016-09-20 19:27] j256 commented on #14
Added webp type handling and associated tests.  Fixed in 1.7.

[2016-09-20 19:27] #14 closed

[2016-09-20 19:29] j256 commented on #5
This has been fixed in version 1.7.  Turned out that I was not handling some specific magic file line patterns correctly.

[2016-09-20 19:29] #5 closed

[2016-09-20 22:34] j256 commented on #12
1.7 has been released.  http://repo1.maven.org/maven2/com/j256/simplemagic/simplemagic/1.7/

[2016-10-28 09:01] Abdull opened #15 "HTML detection fails with leading newline"
Using version 1.8, simplemagic fails to recognize valid HTML input if the input starts with a newline:

[code]

According to https://validator.w3.org , leading newlines are acceptable for an input to be considered valid HTML.

[2016-11-20 20:52] j256 commented on #15
This has been fixed in version 1.9.  I added a unit test for it as well.  Thanks @Abdull .

[2016-11-20 20:52] #15 closed

[2016-11-20 20:52] j256 commented on #15
See: https://github.com/j256/simplemagic/pull/16

[2016-11-23 14:42] Abdull commented on #15
Thank you for your commitment to *SimpleMagic*!

I gave version `1.9` a try.

Using my `testContentInfoUtil @Test` from above threw a `NullPointerException` for version `1.8`, as `anotherHtmlContentInfo` was `null`.

The test also fails in version `1.9`.  It's no longer a `NullPointerException`. But `anotherHtmlContentType` is `ContentType.OTHER`, not the expected `ContentType.HTML`.

[2016-11-23 18:20] j256 commented on #15
Sorry @Abdull, I don't quite understand your post.  Are you saying that tests are failing?  They are working for me and the release process tests then as well.  Can you post the errors and then open a _new_ issue around that?

[2016-11-24 12:26] Abdull commented on #15
On my machine, with version `1.9`, the following fails:

    String anotherHtml = "\n<!doctype html><title>.</title>"; // notice the leading newline
    ContentInfo anotherHtmlContentInfo = ciu.findMatch( anotherHtml.getBytes(StandardCharsets.UTF_8) );
    ContentType anotherHtmlContentType = anotherHtmlContentInfo.getContentType();
    assertTrue( ContentType.HTML.equals(anotherHtmlContentType) )

[2016-12-09 21:26] CalebFenton opened #18 "Null testValue causing exception"
Hello,

I'm getting an NPE when using magic files installed after making and installing `file` from source. Here's how I construct the `ContentInfoUtil`:

[code]

This is the error it generates:

[code]

The issue seems to be that `testValue` is null on this line:

[code]

This happens because a lot of rules have an 'x' for the test value. The `testValue` is set to `null` in MagicEntryParser:

[co

[2016-12-09 21:37] j256 commented on #18
Huh.  This looks like a standard bug in the code @CalebFenton .   The patterns may be invalid since they are doing a test but not specifying a test-value but the code should be resistant to that.

[2016-12-09 22:01] CalebFenton commented on #18
Interesting. Thanks for looking into this so quickly.

FYI, an example of a problem line is in `compress`:

[code]

If I comment out `0	string/b	x`, everything works fine. This is consistent with what you say the problem is.

[2016-12-09 22:07] CalebFenton commented on #18
Apparently, that is the _only_ line that causes a problem in the entire magic directory. It's possible to work around the issue by simply commenting the entire  zlib entry.

[2016-12-09 22:13] j256 commented on #18
Well the right thing to do is to fix the code and then to fix the entry if it is even in error.

[2016-12-12 19:47] j256 commented on #18
This has been fixed and will be in version 1.10.

[2016-12-12 19:47] #18 closed

[2016-12-13 15:12] j256 opened #19 "Handling of BOM leading characters"
From @yongminyan .

Hey @j256 , I found these issues when I was parsing certain html content that start with BOM, like byte array of "-17, -69, -65, 60, 104, 116, 109, 108, 32" (the first three bytes are UTF-8 BOM and followed by <html tag)  or "-1, -2, 60, 0, 104, 0, 116, 0, 109, 0, 108, 0" (the first two bytes are UTF-16 Little-Endian BOM and followed by <html tag), in these cases, the library f

[2016-12-20 01:48] j256 commented on #15
Btw @Abdull, this now passes for me in 1.10.  Thanks much.   See: https://github.com/j256/simplemagic/commit/16787b741adac57941e7944be24fa008fb7ec065

[2017-01-12 21:26] markwoon opened #20 "Support for detecting Illustrator files"
Would it be possible to add support for Illustrator files?

This seems to show that it's possible: https://asecuritysite.com/forensics/magic

[2017-01-13 07:36] j256 commented on #20
Can you post a sample file somewhere that I can test against?

[2017-01-13 12:31] markwoon commented on #20
Attached: [test.zip](https://github.com/j256/simplemagic/files/704249/test.zip)

[2017-01-16 13:27] saurabheights opened #21 "Partial Match happening for Jpeg Files"
Hi Gray,
 Since upgrading SimpleMagick to 1.10, JPEG images are getting partial matched. Is this change intentional?

Sample Images:

![1483354121587_91_535afce2-1faf-4f77-bad9-b06e1f7afec0](https://cloud.githubusercontent.com/assets/11634769/21984751/62d9a9e2-dc1d-11e6-9815-1183d1b04478.jpeg)
![zwtc_1483330847796_77fff134_a228](https://cloud.githubusercontent.com/assets/11634769/21984752/62db360e

[2017-01-18 14:55] air-hermes opened #22 "mimeType = null for some mpg files"
The attached file has mimetype='video/mpeg' but the simplemagic got null

[trn_over_under_adj_2000.zip](https://github.com/j256/simplemagic/files/714183/trn_over_under_adj_2000.zip)

[2017-02-22 13:10] t6nand opened #23 "webm being incorrectly read as application/octet-stream"
Hi,
Seems like simplemagic fails detecting webm files and returns with ContentType OTHER as it's mimetype being read is "application/octet-stream" instead of "video/webm".

Sample webm file for which it failed:
http://techslides.com/demos/sample-videos/small.webm

[2017-02-22 18:49] j256 commented on #23
Thanks.  I'll take a look.

[2017-03-07 13:44] Solido commented on #23
Oh yeah this one is really important ! Thx @j256

[2017-03-18 17:55] j256 commented on #23
Just fixed.  Thanks again.

[2017-03-18 17:55] #23 closed

[2017-03-18 18:17] j256 commented on #22
Fixed.  Thanks.  https://github.com/j256/simplemagic/commit/bf9392ff41c9a5da484f4a7055cac695069f48f0

[2017-03-18 18:17] #22 closed

[2017-03-18 21:25] j256 commented on #21
Hrm.  Just spent a couple of hours on this.  I've also added your image to test bank.

For now the partial for this image type is correct.  I don't know how to read it.  It doesn't conform to any known patterns.  If you can find a unix `file` command that outputs more than EXIF standard, I'd like to see it.

[2017-03-18 21:33] j256 commented on #21
Ok I've one of the jpeg types but it looks like the ones you've posted implement a newer "recursive" magic pattern that simplemagic doesn't understand.  I've added it to the tests though and documented in the TODO.

[2017-03-18 21:33] saurabheights commented on #21
Hi, give me few minutes to analyze more. For now:-

`$ exiftool 62db360e-dc1d-11e6-9d93-1fe0f62a1e35.jpeg
ExifTool Version Number         : 9.46
File Name                       : 62db360e-dc1d-11e6-9d93-1fe0f62a1e35.jpeg
Directory                       : .
File Size                       : 207 kB
File Modification Date/Time     : 2017:01:16 18:55:52+05:30
File Access Date/Time           : 2017:03:

[2017-03-18 21:37] j256 commented on #20
Right now the .ai files seem to be showing up as PDF files.  My linux file and osx file commands agree.  Is that not what's happening with your files?

[2017-03-18 21:51] saurabheights commented on #21
@j256 : will the above comment suffice(comment is updated with xxd and EXIF marker information)?

[2017-03-18 22:57] j256 commented on #20
Ok.  I added some patterns that may detect some portion of the AI files.  See https://github.com/j256/simplemagic/commit/e945b4cc0e8faa430d1b66b47ba9c291a1e814e7

[2017-03-18 22:57] #20 closed

[2017-03-18 23:15] j256 commented on #21
Yeah I've been looking at the raw bytes and I've also looked at both pages interesting enough (yay google).  Both the II and MM exif file headers should have a 0x8769 (either big or little endian) and I'm just not seeing that.  This is something different.

In looking at the linux file command code a bit (https://github.com/file/file.git), they now support "recursive" patterns which is news to me.

[2017-03-22 05:28] t6nand commented on #23
Thanks @j256

[2017-06-07 07:04] markwoon commented on #20
FYI, this has been working well for me.  Thanks.

[2017-06-07 14:10] j256 commented on #20
Glad to hear it @markwoon .  Thanks for letting me know.

[2017-06-08 20:24] charles-jacobsen opened #24 "NegativeArraySizeException in PStringType"
This test:

[code]

generates this exception:

    at com.j256.simplemagic.types.PStringType.extractValueFromBytes(PStringType.java:23)
    at com.j256.simplemagic.entries.MagicEntry.matchBytes(MagicEntry.java:149)
    at com.j256.simplemagic.entries.MagicEntry.matchBytes(MagicEntry.java:185)
    at com.j256.simplemagic.entries.MagicEntry.matchBytes(MagicEntry.java:68)
    at com.j256.simplemagic.

[2017-06-09 14:51] j256 commented on #24
Wow.  Bad bug.  Fixed in https://github.com/j256/simplemagic/commit/dfb87a4dcbb8a047c4f0310c1a80a4b6151156f7 .  Just pushed out version 1.12 to fix it.  Thanks much.

[2017-06-09 14:51] #24 closed

[2017-06-09 20:49] charles-jacobsen commented on #24
Thanks for the quick turn-around!

[2017-08-04 10:48] boris-petrov opened #27 "Not working for txt file"
Hi, I'm trying the library like this:

[code]

`path` is just a Path to a small text file named `/tmp/PFZ6827520388559156905.txt` with contents `some text`. If I'm using the built-in `magic.mime` file (i.e. I remove the argument to the constructor), `info` is null. If I use my `magic.mime` file (which I got from cloning https://github.com/file/file/ and concatenating all files in `magic/Magdir`) -

[2017-08-23 20:51] epastoor opened #30 "ArrayOutOfBoundsException on exe"
I'm attempting to get the content type of an exe file (putty.exe) and it is throwing an ArrayIndexOutOfBoundsException. I can't upload putty.exe as it is not supported. It is downloadable here: https://the.earth.li/~sgtatham/putty/latest/w64/putty.exe

`2017-08-23 16:46:29 ERROR 1503521189293246 RequestUtils.java:994 Simple Magic error during detection java.lang.ArrayIndexOutOfBoundsException: -5

[2017-08-24 13:31] j256 commented on #30
Huh.  As far as I can see the byte[] array is protected going high so maybe offset is negative?  I've added better protections there.

[2017-08-24 14:56] epastoor commented on #30
Your guess was right.

I debugged this a little. In this case, here are the values:
int offset = -5
int size = 1
int bytes.length = 854072

[2017-08-24 14:58] epastoor commented on #30
Will your fix go with 1.13?

[2017-08-28 13:29] j256 commented on #30
Awesome information.  Thanks for it.  Yes it will go into 1.13.

[2017-08-28 13:40] j256 commented on #30
Here's the commit with the new code:
https://github.com/j256/simplemagic/commit/fbd10af3e13597c8d9b16c572a4d05119bc5cb6f

[2017-09-10 07:50] crawley opened #32 "MagicEntry parser doesn't handle octal and hex the same way as the "file" command."
The "man 5 magic" manual entry is unclear (to say the least) about how escapes are treated.  However, if you look at the source-code for the "file" command, the treatment is as folllows:

  - an octal escape is "\" followed by 1, 2 or 3 octal digits, and
  - a hex escape is a "\" followed by 1 or 2 hex digits.

That's not what simplemagic does.  It actually expects exactly 3 octal digits (or "\0"

[2017-09-12 15:08] crawley commented on #32
#34 is a fix for this

[2017-09-12 15:16] crawley opened #35 "Escapes are not processed in regexes"
For example

[code]

This entry from the std magic file is rejected because a `Pattern` syntax-error exception is thrown.  `Pattern` says that there should be a closing `)` at the end of the regex.

What *should* happen is that the regex should be processed to handle magic escapes before it is passed to `Pattern`.  This would turn the regex into  `\(;.*GM\[[0-9]{1,2}\]` ... which is a valid `Patte

[2017-09-13 10:43] crawley commented on #32
Make that #37 ....

[2017-09-13 10:45] crawley commented on #35
#36 is a fix for this

[2017-09-13 14:56] boris-petrov commented on #27
Actually now I tried using the constructor which accepts an `ErrorCallBack` argument - and there are a million errors when parsing the `magic.mime` file that I've made using the steps I mentioned above. I'm not sure where can I get a *working* `magic.mime` file from. Can you please elaborate on this also?

[2017-09-14 17:28] charles-jacobsen opened #37 "ArrayIndexOutOfBoundsException in com.j256.simplemagic.types.StringType.charFromByte"
Stack trace:

        java.lang.ArrayIndexOutOfBoundsException: -556514324

	at com.j256.simplemagic.types.StringType.charFromByte(StringType.java:184)
	at com.j256.simplemagic.types.StringType.findOffsetMatch(StringType.java:124)
	at com.j256.simplemagic.types.StringType.isMatch(StringType.java:88)
	at com.j256.simplemagic.entries.MagicEntry.matchBytes(MagicEntry.java:146)
	at com.j256.simplemagi

[2017-11-23 07:04] RangerMak opened #38 "Docx file created by LibreOffice returns Zip mime type"
I think its because LibreOffice (OpenOffice) put files into docx-archive in different order than MS Word.
So file have another signature and detects as simple zip-archive.

Example file is attached.
[DocxByLibreOffice.docx](https://github.com/j256/simplemagic/files/1498249/DocxByLibreOffice.docx)

[2017-12-06 12:55] todorov7 opened #39 "Support for Handlebars Template File"
Hi,

As far as I've noticed, there is no support for handlebars template files scripts in ContentType enum with "hbs" extension and "text/x-handlebars-template" mime type. This should be added to the enum map.

-yhank you very much.

[2017-12-06 16:55] j256 commented on #39
Can you put together a pull request or at least can you list specifically what hbs content-types you think should be added?

[2017-12-06 16:56] j256 commented on #37
Pretty sure this is a dup of https://github.com/j256/simplemagic/issues/30
Thanks.

[2017-12-06 16:59] j256 commented on #37
Not that I actually look at it, no.  This is a similar but different issue.

[2017-12-06 17:02] j256 commented on #38
That's correct because it _is_ a zip file.  For me to detect it as something else means that I have to open it up and process the file contents which I'm less interested in doing.

[2018-02-05 13:58] zerjioang opened #41 "System language dependant test failure"
Current version is system language dependant for test execution so that having an spanish language, for example, decimal numbers are splitted by comma. Therefore a test failure is thrown with following logs:

[code]

In short, if you have your system language/maven language/java language in Spanish,

```mvn install```

command will fail.

My system settings are:

[code]

[2018-02-11 07:12] Enan01 opened #43 "Can ContentInfoUtil be singleton, is this class thread safe"
i want to know the class ContentInfoUtil is thread safe?

if i want to use it, do i must new it?

[2018-02-14 13:50] j256 commented on #43
It certainly should be thread safe @Enan01.  There is no field storage of content info.

[2018-02-14 13:50] #43 closed

[2018-03-02 07:12] Zikkee opened #44 "XLS and CSV files not recognized"
Hello,

I tried to recognize several mime types, including XLS and CSV. Here are the results I have:

csv - NULL
doc - application/msword
docx - application/vnd.openxmlformats-officedocument.wordprocessingml.document
xls - NULL
xlsx - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
xml - application/xml

Is it a bug that CSV & XLS files are not recognized? Can I do something to r

[2018-03-15 17:19] j256 commented on #41
Good point.  I'll take a look.

[2018-03-22 22:49] markwoon opened #45 "Problem with detecting Illustrator file"
This Illustrator file ([Oxycodone_PK.zip](https://github.com/j256/simplemagic/files/1839519/Oxycodone_PK.zip)) is not being detected as such.

I'm not quite sure how this file got into this state.  I'm guessing that it started life as a PDF file, then got opened in Illustrator, and then saved as an Illustrator file.  So this is kind of a corner case...

The property you're keying off of (dc:format

[2018-04-09 06:01] t6nand opened #46 "CMYK Jpeg files being incorrectly read with mime-type octet-stream"
I tried reading mime type of a CMYK profile JPEG image. Expected mime type was image/jpeg, but the response was that of application/octet-stream.

Sample Image: [CMYK JPEG Image](https://upload.wikimedia.org/wikipedia/en/2/25/Channel_digital_image_CMYK_color.jpg)

Expected output: image/jpeg
Actual output: application/octet-stream

[2018-05-09 15:49] craigpell opened #47 "RegexType reads a line for every byte in mutableOffset.offset"
I wanted to use my local machine’s /usr/share/file/magic/kml to detect KML and KMZ files, with this code:

[code]

But it always fails, because this line in the magic file never matches:

[code]

It appears this is because RegexType is reading an entire line for every byte in the mutableOffset, causing the matching content to be skipped entirely.  In other words, if mutableOffset.offset is ten, th

[2018-07-02 06:08] d-biswas commented on #30
I had the same issue. When is the tentative release date of 1.13

[2018-07-06 01:44] markwoon commented on #45
It looks like like simplemagic is sensitive to the exact location of the property.  Moving the property to the top of the file seems to resolve this problem.  See
[Oxycodone_PK-fixed.zip](https://github.com/j256/simplemagic/files/2168765/Oxycodone_PK-fixed.zip) for an example.

Is there a way to make simplemagic less susceptible to these kinds of problems?  Can it read the metadata directly?

[2018-07-06 21:35] #37 closed

[2018-07-06 21:39] j256 commented on #44
Wait are you talking about mime types or file extensions?

[2018-07-06 21:46] #39 closed

[2018-07-06 22:46] j256 commented on #32
Thanks much for this.  I fixed this a different way.  See: https://github.com/j256/simplemagic/commit/ac9b4fde805cf63003ca46f5d8f6016c852fcdb8

[2018-07-06 22:46] #32 closed

[2018-07-10 18:57] j256 commented on #27
The file command has additional checking that is not magic number based.  For example the ods files _are_ zip files.  To understand that they are spreadsheets requires opening up the zip file and interrogating its contents.  This is same for text files which have no magic numbers.

[2018-07-11 14:48] j256 commented on #30
1.13 has been released.

[2018-07-11 14:48] #30 closed

[2018-07-11 16:24] #35 closed

[2018-07-11 16:29] j256 commented on #47
According to my reading of the docs, the regex matching type is supposed to match on lines and not bytes.  Maybe the pattern is wrong?

[2018-07-12 13:58] j256 commented on #44
Maybe duplicate of #38

[2018-08-08 16:04] joistick11 commented on #4
Is this still not fixed? Cannot determine the mime type of xls and ppt

[2018-08-08 17:34] j256 commented on #4
Feel free to donate the code @joistick11 .

[2018-10-25 16:48] markwoon commented on #45
@j256 Any idea if this can be fixed?

[2018-10-25 21:01] j256 commented on #45
The problem with these is that this _is_ a zip file.  Being able to detect that it contains an Illustrator document requires different processing.  I think it needs to be done but I'm not sure when I can get to it.   Feel free to submit some code and I'll take a look at it.

[2018-10-26 16:02] Loki-Afro opened #57 "svg is not recognized"
I used this svg file https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/410.svg

[code]

Seems like there is some issue in the `magic.gz` file

[code]
well it results in svg is not added to `com.j256.simplemagic.entries.MagicEntries#entryList` :/

[2018-10-26 20:37] markwoon commented on #45
@j256 I've attached zip files because I couldn't attach the .ai file directly.  Please take a look at the Illustrator file in the zip file to test.

[2018-11-14 16:52] Gurfuzle opened #58 "Doesn't recognize bitmap files exported from GIMP"
When I'm exporting images from GIMP as bitmap, this is not recognizing the magic number for those.  When I run the file through xxd, I am getting:

00000000: 424d 7a75 0200 0000 0000 7a04 0000 6c00  BMzu......z...l.
00000010: 0000 9001 0000 9001 0000 0100 0800 0000  ................
00000020: 0000 0071 0200 232e 0000 232e 0000 0001  ...q..#...#.....
00000030: 0000 0001 0000 4247 5273 0000 0000 000

[2018-11-14 17:36] Gurfuzle commented on #58
Here's an example file
[example.bmp.zip](https://github.com/j256/simplemagic/files/2581893/example.bmp.zip)

[2019-02-01 13:42] mduft opened #59 "Bash script not recognized correctly"
A simple bash script with this header:

`#!/usr/bin/env bash`

will result in a ContentInfo with

[code]

whereas command line `file` says `Bourne-Again shell script, ASCII text executable`

I used the same magic file for both simplemagic and file (`/usr/share/file/magic`).

[2019-02-01 13:47] mduft commented on #59
Having some arbitrary shebang:

[code]
simplemagic gives `a, type OTHER, msg 'a / script text executable'`, file gives:

[code]

[2019-02-06 13:05] stokito opened #60 "findMatch() reads too much bytes"
Here is a source of the com.j256.simplemagic.ContentInfoUtil#findMatch(java.io.File) method:

[code]

So things unclear for me:
1. Why DEFAULT_READ_SIZE is so big? 10 kibibytes looks too much if most files have only few magic bytes.
2. Derived from the first question: What is a reason to change the fileReadSize?

BTW Result of `fis.read()` is ignored, not sure if this safe.

[2019-02-06 13:07] stokito opened #61 "Possible bug inside of MagicEntryParser"
com/j256/simplemagic/entries/MagicEntryParser.java:438
[code]
Here is duplicated conditions `"-".equals(offsetOperator)`

[2019-02-06 13:22] stokito commented on #41
in fact such kinds of error may occur even on upgrade of JDK: the number formats are changed in JDK9 and JDK11 and will be changed after

[2019-02-06 15:12] j256 commented on #60
1. I think the answer is the "most files".  Some need more bytes and I figured that 10k was pretty small IO wise these days.
2. When you are worried about it reading 10k.  :-)
3. I've added code to pay attention to fis.read() return.  Thanks.

[2019-02-06 15:12] #60 closed

[2019-02-06 15:34] stokito commented on #60
ok, then maybe we can make some kind of stream processing and if few bytes was enough then terminate the process.
Also, I'm not sure, but I guess that the size should be rounded to file system page size i.e. 4K
https://en.wikipedia.org/wiki/Page_(computer_memory)

[2019-02-06 15:41] stokito opened #63 "Slim version without internal config files"
I see that the lib contains some DB files with magics but I need a small version of dependency which will use only system magic file. Is it possible?

[2019-02-06 16:56] j256 commented on #63
RTFM.  http://256stuff.com/sources/simplemagic/docs/magic-entries

[2019-02-06 17:08] j256 commented on #60
You linked to a memory page but we are talking about IO.  Most disk subsystems have page sizes a lot less than 4k – it depends highly on the underlying filesystem and IO layers.  512 bytes is often cited.   I don't think it makes that much difference but I'll consider changing it to 8k.

[2019-02-06 17:09] j256 commented on #60
Oh and streaming would be a big change in the code.  Not a bad idea but non trivial change.

[2019-02-06 17:10] j256 commented on #61
Yeah that's not right.  After looking at the code I'm not sure what I was trying to accomplish there but I'm thinking about just removing the else in which case it's not a bug, just ugly and confusing.  Thanks!

[2019-02-06 17:10] #61 closed

[2019-02-06 17:16] j256 commented on #61
How did you find this @stokito?  Were you trying to fix a bug or just wandering the code?

[2019-02-06 17:23] j256 commented on #61
Actually no, that's not right.  I understand it now.  That is a bug.  It should be "*" and not "-".  See: https://github.com/j256/simplemagic/commit/ee362ca1b64174dcd7fb57af4d14e77fe0344b51

[2019-02-06 18:18] stokito commented on #61
easily - I tried to figure out how the library works and if it's safe to add to my working project so I decided to checkout sources in IntelliJ and then I just runned `Analayze` and it show a lot of such places.
If you use IntelliJ then you'll see such kind of error just after you made them.

[2019-02-18 16:24] ledjon opened #64 "Support for audio/amr"
What would I need to do to add support for "audio/amr" as a file type?

This file type can come from an audio text send from certain android phones (I think this is where it comes from).

You can see it listed here: https://www.twilio.com/docs/sms/accepted-mime-types and the product I work on does get these from time-to-time.
This type is also listed in /etc/mime.types on my linux system.

I'll gl

[2019-02-18 20:33] j256 commented on #64
Can you point to a short example file that I can get?

[2019-02-18 23:18] ledjon commented on #64
It just so happens that I have one where the user didn't say anything (so there's no privacy data in it):

https://s3.us-east-2.amazonaws.com/aws-codestar-us-east-2-140775790698/recording1475832547.amr

[2019-02-19 01:29] j256 commented on #64
Got it an added to my test files.  Thanks.  What I see from the command line is "Adaptive Multi-Rate Codec (GSM telephony)".  Is that what you get?   Interestingly I see that in my internal magic file so there is a bug somewheres.  I'm also seeing a mimetype of "audio/amr".  Is that right?

[2019-02-19 01:51] ledjon commented on #64
Yes I see the same thing in both cases.  What we do in the app is have an array of mine types that we "allow" and it is based on the enum values of https://github.com/j256/simplemagic/blob/master/src/main/java/com/j256/simplemagic/ContentType.java

So since audio/amr is not in that enum, I don't have a clean way to add it to my array of values to check and I'd rather not add some one-off logic jus

[2019-02-19 15:39] j256 commented on #64
No, I'm wrong.  I just didn't remember how my code worked.  It spits out OTHER but the type is right.
 Fixed in 5f1247aa60dedf02ebf3a377ee063a0406407968.

In general, I would suggest that the enum is not enough to handle all cases (obviously) and that you might need to do some sort of inferring of the types.  That said, I'm happy to add missing types as you find them.

[2019-02-20 06:54] ledjon commented on #64
Great, thanks!  The enum is just a nice way to reference the critical data types in a list.

I'll be glad to be able to use the enum now to cover all of the cases we run into.

[2019-02-20 06:54] #64 closed

[2019-07-11 17:59] AndroidDeveloperLB opened #65 "Questions about compatibility with Android"
From my understanding by reading the description, this library can be used to guess the type of a file based on its content, similar to the "file" command on linux.

1. Am I correct?
2. Could this also work on Android? If so, from which version?
3. Is it possible to use it via Gradle? If so, what is the dependency I need to add? Is there a way to get updated about the version?
4. How much space do

[2019-07-12 13:23] AndroidDeveloperLB commented on #65
OK was curious and tried it myself.

gradle:

    implementation 'com.j256.simplemagic:simplemagic:1.16'

 Code:
[code]

And the result:

`info:jpeg, type JPEG, mime 'image/jpeg', msg 'JPEG image data, JFIF standard 1.01, aspect ratio, density 1x1, segment length 16'`

So to answer the questions:

1. Seems so.
2. Working even on Android Q beta 5. Tested also on emulator with Android API 16 (4.1).

[2019-07-12 18:21] j256 commented on #65
Thanks @AndroidDeveloperLB .  I need to add Gradle support to all of my libraries.  Sigh.  So much to do.

[2019-07-13 08:14] AndroidDeveloperLB commented on #65
@j256 Can you please confirm and/or answer what I wrote ?

Is there a list somewhere of all the file-types that you support?
Does it at least include those that Android support (probably so)  ?

[2019-07-14 18:02] AndroidDeveloperLB commented on #57
Confirmed, and this should be relatively easy to detect, as it's an XML file that has "<svg" somewhere in the beginning...
It can be either the first tag, or a bit later.
However, note that if there is a long comment before the "<svg", and this library reads just a bit of the file, it might just consider it as an XML file...

[2019-07-14 18:09] AndroidDeveloperLB opened #66 "bug: Weird identification of heic image file"
Example:
http://nokiatech.github.io/heif/content/images/autumn_1440x960.heic

[autumn_1440x960.zip](https://github.com/j256/simplemagic/files/3390292/autumn_1440x960.zip)

What I get:

`info:ISO, type OTHER, msg 'ISO Media'`

[2019-12-24 15:49] stokito opened #68 "Upgrade built-in magic file and use external on Linux"
From what I see the `magic.gz` file which is included into the `simplemagic.jar` is outdated.
It was originally copied from CentOS and looks like you are updating it manually instead of copy it from the fresh `/etc/magic`.
Even more, the `/etc/magic` file is not present anymore on the current Linux distributions.
The MIME db file is part of the [file](https://github.com/file/file) utility which mi

[2020-04-12 22:38] AcidS76 opened #71 "How to use external magic db?"
Hi,
I'm use this lib since some months and it's very useful but the problem I see it's the update of its magic db. I tried to use the files from https://github.com/file/file/tree/master/magic/Magdir, as reported in a issue from @stokito, concatenating all the files in a big txt file. But for some strange reason, the resulting db seems not letting correctly detect zip format, giving me "(0x%x)" as

[2020-04-13 09:33] stokito commented on #71
Carlo mentioned the issue #68

[2020-09-28 15:01] kaushikvijay commented on #66
Hello @j256 , is possible to fix this bug? or this is outside capability of the library?

[2020-10-19 14:24] CrushaKRool commented on #58
I've actually stumbled upon this myself and investigated a bit. The problem lies in `MagicEntries.optimizeFirstBytes()`, where it calls `MagicEntry.getStartsWithByte()` -> `StringType.getStartingBytes()` ->`StringType$TestInfo.getStartingBytes()`. This will always return null if the string is less than 4 characters long.
Which means all file types that start with a string pattern of magic bytes th

[2020-10-19 23:17] j256 commented on #58
Appreciate the look @CrushaKRool .  The code is _supposed_ to use the first-byte stuff and then fall through to the findMatch().  See https://github.com/j256/simplemagic/blob/211cf35f7a827958e78aba0c15ec4c8dcfe0699a/src/main/java/com/j256/simplemagic/entries/MagicEntries.java#L122

Let me get this test in place and then debug it.

[2021-01-06 07:15] temcolabs opened #77 "AWS cloudfront image return as content type html"
Hi,

Look like AWS S3 return as content type as jpeg. Same file but on AWS cloud front return as content type as html.
Can you please take a look?

[2021-02-09 16:19] j256 commented on #77
Can you provide an example file or URL?

[2021-05-31 07:38] Coos-Wolff commented on #44
Hi,

I was wondering if this was fixed or still an issue as I am using version 1.16 en csv extension is returing null.

Cheers!

[2021-06-09 16:43] jcalcote opened #78 "ContentInfoUtil.findMatch([77, 90]) generates NPE"
We're using j256/simplemagic version 1.14 in a project and we noticed an NPE with the following call stack when attempting to find a match on a 2-byte prefix where the byte array is [77, 90] (hex [4d, 5a]):

[code]

This file is a 2-byte truncated windows executable.

[2021-06-13 20:19] j256 commented on #78
This seems to be already fixed @jcalcote .  The following test does not fail for me.

	byte[] x = { 77, 90 };
	ContentInfoUtil util = new ContentInfoUtil();
	util.findMatch(x);

[2021-06-13 20:19] #78 closed

[2021-06-13 20:25] j256 commented on #77
Any feedback @temcolabs ?

[2021-08-18 15:11] qux-bbb opened #79 "pcapng filetype support"
Hi, there is a pcapng file, and simplemagic check it as xml.
[file_pcapng.zip](https://github.com/j256/simplemagic/files/7008257/file_pcapng.zip)

[2022-08-02 05:39] keivanshir opened #85 ".xls file shows null in return of getMimeType"
Hi @j256 told me to put this issue here. I use this code to get the Mime Type of the **excel** file but it shows null in `mimeType` of  `ContentInfo`. I can get the file format from `message` and `name` properties but I really need the `mimeType`
 and `extension`. I've attached the file so you can test it too.
[code]

[1.xls](https://github.com/j256/simplemagic/files/9239300/1.xls)

[2022-09-22 08:31] fjtorres commented on #38
@j256 Did you add something to detect this case as a DOCX file? I found similar problem and I tried several ways to detect it as a DOCX file but just "Tika core" library was able to detect this case correctly.

[code]